<main>
  <%= render layout: 'shared/page_header', locals: { title: @course.name, subtitle: 'Student Enrollment', feather_icon: 'users' } do %>
    <ol class="breadcrumb mt-4 mb-0">
        <li class="breadcrumb-item"><%= @course.school.name %></li>
        <li class="breadcrumb-item"><%= @course.faculty.name %></li>
        <li class="breadcrumb-item "><%= @course.name %></li>
    </ol>
  <% end %>
  <div class="container-fluid mt-n10">
      <div class="card">
          <div class="card-header">Sign up Students</div>
          
          <div class="card-body">
            <%= form_tag import_course_enrollments_path, multipart: true, class: 'form-inline' do %>
            <div class="form-group">
              <%= file_field_tag :file, class: '' %>
            </div>
            <div class="form-group">
              <%= submit_tag "Import CSV", class: 'btn btn-info' %>
            </div>
            <% end %>
          </div>
      </div>
  </div>
</main>