<main>
  <%= render layout: 'shared/page_header', locals: { title: @course.name, subtitle: 'Lesson Setup', feather_icon: 'message-square' } do %>

  <%= link_to edit_course_path(@course), class: 'btn sb-btn-transparent-light sb-btn-icon edit-button' do %> <i data-feather="edit"></i><% end %>
    <ol class="breadcrumb mt-4 mb-0">
        <li class="breadcrumb-item"><%= @course.school.name %></li>
        <li class="breadcrumb-item"><%= @course.faculty.name %></li>
        <li class="breadcrumb-item active"><%= @course.name %></li>
    </ol>
  <% end %>
  <div class="container-fluid mt-n10" data-controller='new-lessons'>
  <div class="row">
    <div class="col-md-6 col-12">
      <%= render 'lesson_times_card', course: @course, course_periods: @course_periods, course_period: @course_period, faculty: @faculty, period: @period %>
      <%= render 'schedule_lessons_card', course: @course, lessons_schedule: @lessons_schedule %>  
    </div>
      <div class="col-md-6 col-12">
        <%= render 'planned_lessons_form' %>
      </div>
  </div>
  </div>
</main>