<main>
  <%= render layout: 'shared/page_header', locals: { title: @course.name, subtitle: 'Lesson Setup', feather_icon: 'message-square' } do %>

  <%= link_to edit_course_path(@course), class: 'btn sb-btn-transparent-light sb-btn-icon edit-button' do %> <i data-feather="edit"></i><% end %>
    <ol class="breadcrumb mt-4 mb-0">
        <li class="breadcrumb-item"><%= @course.school.name %></li>
        <li class="breadcrumb-item"><%= @course.faculty.name %></li>
        <li class="breadcrumb-item active"><%= @course.name %></li>
    </ol>
  <% end %>
  <div class="container-fluid mt-n10">
  
  <div class="card w-50">
  <div class="card-header">Lesson Time
    <% @course.course_periods.map { |p| "<span class='badge badge-success'>#{p.day} #{p.period.period_number}</span>" }.join(' ') %>
  </div>
    <div class="card-body">
    <div class="row" id='day-period'>
      <% @course_periods.each do |cp| %>
        <%= render partial: 'course_periods/period_badge', locals: { course_period: cp} %>
      <% end %>
    </div>
      <%= simple_form_for(@course_period, remote: true) do | course_form | %>
      <div class="form-row">
        <div class="col">
          <%= course_form.input :day, as: :select, collection: CoursePeriod.days.keys.map { |k| [k, CoursePeriod.days[k]] }%>
        </div>
        <div class="col">
          <%= course_form.association :period, collection: Period.where(faculty_id: @course.faculty.id), label_method: :class_time, value_method: :id, label: 'Periods', include_blank: false %>
        </div>
      </div>
       <%= course_form.button :submit, "Choose periods", class: 'btn btn-outline-primary mb-4' %>
       <%= course_form.hidden_field :course_id, value: params[:course_id] %>
      <% end %>

    <%= simple_form_for([@school, @period], remote: true) do |f| %>
      <div class="form-row">
        <div class="col">
        <%= f.input :period_number %>
        </div>
        <div class="col">
          <%= f.input :start_time %>
        </div>
        <div class="col">
          <%= f.input :minutes, input_html: { value: f.object.minutes || 100 } %>
        </div>
        <%= f.hidden_field :course, value: params[:course_id] %>
      </div>
        <%= f.button :submit, 'Add period', class: 'btn btn-outline-primary' %>
      <% end %>
      <div id="periods">
      </div>
    </div>
  </div>
       
  </div>
</main>