<main>
  <%= render layout: 'shared/page_header', locals: { title: @course.name, subtitle: 'Lesson Setup', feather_icon: 'message-square' } do %>

  <%= link_to edit_course_path(@course), class: 'btn sb-btn-transparent-light sb-btn-icon edit-button' do %> <i data-feather="edit"></i><% end %>
    <ol class="breadcrumb mt-4 mb-0">
        <li class="breadcrumb-item"><%= @course.school.name %></li>
        <li class="breadcrumb-item"><%= @course.faculty.name %></li>
        <li class="breadcrumb-item active"><%= @course.name %></li>
    </ol>
  <% end %>
  <div class="container-fluid mt-n10">
  
  <div class="card w-50">
  <div class="card-header">Lesson Time
    <% @course.course_periods.map { |p| "<span class='badge badge-success'>#{p.day} #{p.period.period_number}</span>" }.join(' ') %>
  </div>
    <div class="card-body">
    <div class="row" id='day-period'>
      <% @course_periods.each do |cp| %>
        <%= render partial: 'course_periods/period_badge', locals: { course_period: cp} %>
      <% end %>
    </div>
      <%= render partial: 'course_periods/form', locals: { course_period: @course_period, faculty: @faculty } %>

      <div data-controller='periods' id='existing-periods'>
        <%= render partial: 'periods/period', collection: Period.where(faculty_id: @course.faculty_id) %>
      </div>

      <%= render 'periods/form', faculty: @faculty, period: @period, course: @course %>
    </div>
  </div>
       
  </div>
</main>