<%= render layout: 'shared/page_header_light', locals: { title: "#{@course.name} Setup", subtitle: "Week #{@lesson.week} - #{@lesson.date_with_day(@lesson.date)} - #{@lesson.course_period.period.class_time}", feather_icon: 'layout' } do %>
        <%= link_to lesson_path(@lesson), class: 'btn sb-btn-transparent-dark sb-btn-icon edit-button' do %> <i data-feather="edit"></i><% end %>
      <ol class="breadcrumb mt-4 mb-0">
        <li class="breadcrumb-item"><%= @course.school.name %></li>
        <li class="breadcrumb-item"><%= @course.faculty.name %></li>
        <li class="breadcrumb-item active"><%= @course.name %></li>
    </ol>

  <% end %>