<%= simple_form_for(course) do |f| %>
  

  <div class='mb-4' data-controller='nested-form'>
    <%= f.association :school, 
      collection: School.select_value,
      selected:  course&.school&.id,
      include_blank: true,
      input_html: { class: 'remote-select', data: { target: '#course_faculty' } },
      wrapper_html: { id: 'original-course-input', data: { target: 'nested-form.school_input' } }      
    %>

    <div data-target="nested-form.add_school">
      <%= link_to "School not listed? Click here to add it", "#", data: { action: "click->nested-form#add_school_association" } %>
    </div>

    <template data-target='nested-form.school_template'>
      <%= f.simple_fields_for :school, School.new, child_index: 'SCHOOL_TEMPLATE_RECORD' do |school| %>
        <div class="nested-fields">
          <div class="form-group">
            <%= school.input :name, label: 'School', placeholder: 'Add your school', class: 'form-control' %>
          </div>
        </div>
      <% end %>
    </template>


    <%= f.association :faculty,
      collection: Faculty.select_values(course&.school),
      selected: course&.faculty&.id,
      input_html: { id: 'course_faculty' },
      wrapper_html: { class: 'mt-3', id: 'origin-faculty-input', data: { target: 'nested-form.faculty_input' } }      
    %>


    <div data-target="nested-form.add_faculty">
      <%= link_to "Faculty not listed? Click here to add it", "#", data: { action: "click->nested-form#add_faculty_association" } %>
    </div>
    
    <template data-target='nested-form.faculty_template'>
      <%= f.simple_fields_for :faculty, Faculty.new, child_index: 'FACULTY_TEMPLATE_RECORD' do |faculty| %>
      <div class="nested-fields mt-3">
        <div class="form-group">
          <%= faculty.input :name, label: 'Faculty', placeholder: 'Add your faculty' %>
        </div>
      </div>
      <% end %> 
    </template>


    </div>
  <div class="form-row">
    <%= f.input :name, label: 'Course Name', wrapper_html: { class: 'col' } %>
    <%= f.input :class_number, label: 'Class Number', wrapper_html: { class: 'col' } %>
    <%= f.input :class_type, collection: ['Speaking', 'Writing'], include_blank: true, label: 'Class Focus', wrapper_html: { class: 'col' } %>
  </div>

  <div class="form-row">
    <%= f.input :start_date, label: 'First Lesson Date', as: :string, input_html: { class: 'datepicker' }, wrapper_html: { class: 'col' } %>
    <%= f.input :end_date, label: 'Last Lesson Date', as: :string, input_html: { class: 'datepicker' }, wrapper_html: { class: 'col' } %>
    <%= f.input :weeks_per_course, label: 'Weeks in course', input_html: { class: 'w-10' }, wrapper_html: { class: 'col' } %>
    <%= f.input :lessons_per_week, label: 'Lessons per week', input_html: { class: 'w-10' }, wrapper_html: { class: 'col' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Register", class: 'btn btn-primary' %>
  </div>
<% end %>