 <main>
  <%= render layout: 'shared/page_header', locals: { title: @course.name, feather_icon: 'message-square' } do %>
    <ol class="breadcrumb mt-4 mb-0">
        <li class="breadcrumb-item"><%= @course.school.name %></li>
        <li class="breadcrumb-item"><%= @course.faculty.name %></li>
        <li class="breadcrumb-item active"><%= @course.name %></li>
    </ol>
  <% end %>
  <div class="container-fluid mt-n10">
      <div class="card">
          <div class="card-header">
            Enrollments
          </div>
            <div class="card-body">
          <% if @course.enrollments.empty? %>
            <p>You have no students enrolled in this course 😔</p>
          <% end %>
            <%= link_to course_enrollments_path(@course), class: 'btn btn-primary shadow-sm' do %>Enroll Some Students
          <% end %>
            <ol>
              <% @enrollments.each do | enrollment | %>
                <li><%= enrollment.student.full_name %></li>
              <% end %>
            </ol>
          </div>
      </div>
  </div>
</main>
